<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Model1" connectionString="data source=DESKTOP-EBQNNQ9\SQLEXPRESS;initial catalog=dbGimnasiaYEsgrima;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="dbGimnasiaYEsgrima2Entities" connectionString="metadata=res://*/Modelo.Model2.csdl|res://*/Modelo.Model2.ssdl|res://*/Modelo.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EBQNNQ9\sqlexpress;initial catalog=dbGimnasiaYEsgrima2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Model1Container" connectionString="metadata=res://*/Modelo.TableDiagram.csdl|res://*/Modelo.TableDiagram.ssdl|res://*/Modelo.TableDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EBQNNQ9\sqlexpress;initial catalog=dbGimnasiaYEsgrima2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DiagramasDeTablasContainer1" connectionString="metadata=res://*/Modelo.DiagramasDeTablas.csdl|res://*/Modelo.DiagramasDeTablas.ssdl|res://*/Modelo.DiagramasDeTablas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EBQNNQ9\SQLEXPRESS;initial catalog=dbGimnasiaYEsgrima;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ProjectGimnasiaYEsgrima.Properties.Settings.dbGimnasiaYEsgrimaConnectionString"
      connectionString="Data Source=DESKTOP-EBQNNQ9\SQLEXPRESS;Initial Catalog=dbGimnasiaYEsgrima;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>